asttokens
blinker
certifi
charset-normalizer
click
colorama
comm
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
et_xmlfile
executing
Flask
geopandas
idna
importlib_metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
platformdirs
plotly
prompt_toolkit
psutil
pure_eval
Pygments
pyogrio
pyproj
python-dateutil
pytz
pyzmq
requests
retrying
shapely
six
stack-data
tenacity
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
zipp
